@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,500;1,600&display=swap');

body {
    font-size: 17px;
    color: #111111;
}

.container {
    max-width: 650px;
}

p, li {
    font-weight: 500;
}

a {
    color: #17658F;
}

a:hover {
    color: #1D0878;
}

li > p:first-child {
    display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* upload input styling */

.js [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
.no-js [type="file"] {
    display: none;
}
